.header{
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
}
.drawer{
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
}

#user{
  margin-top: 2%;
  color: #ffffff;
  font-size: 32px;
}
#phone,#location{
  color: #ffffff;
  font-size: 32px;
}
#email{
  margin-left:-0.4%;
  font-size: 32px;
  color: #ffffff;
}
.details{
  margin-left: 3.5%;
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}
.detail{
  margin-left: 6.5%;
  color: #ffffff;
  font-size: 30px;

}
.detail1 {
  margin-left: 16.5%;
  color: #ffffff;
  font-size: 30px;
}
.detail2{
  margin-left: 25.5%;
  color: #ffffff;
  font-size: 30px;
}
